@model MvcFirstApp.Models.BlogItem
@{
    ViewBag.Title = "Save";
}

<h2>Save</h2>

<form method="post">
    <table>
        <tr>
            <td>@Html.LabelFor(c => c.Titr)</td>
            <td>
                @Html.TextBoxFor(c => c.Titr)
                @Html.ValidationMessageFor(c=> c.Titr)
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(c => c.Description)</td>
            <td>@Html.TextBoxFor(c => c.Description)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(c => c.Link)</td>
            <td>
                @Html.TextBoxFor(c => c.Link)
                @Html.ValidationMessageFor(c=> c.Link)
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="save" /></td>
        </tr>
    </table>
</form>

